body {
    background-color: white;
}
.container {
    display: flex;
    /*   flex-direction: row | row-reverse | column | column-reverse; */
    flex-direction: row;
    /*
    si on veut avoir des retours à la line-height-step: ;
    flex-wrap: nowrap | wrap | wrap-reverse;
    */
}

.child {
    border: solid;
}

.child2 {
    /* permet de modifier l'ordre */
    order: 1;
    background-color: rgb(202, 127, 127);
}

.child3 {
    flex-grow: 1;
}