.container {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
    }
    
    .header {
      background-color: #999;
      border: solid;
      grid-area: header
    }
    
    .main {
      background-color: #999;
      border: solid;
      grid-area: main
    }
    
    .footer {
      background-color: #999;
      border: solid;
      grid-area: footer
    }
    
    .sidebar {
      background-color: #999;
      border: solid;
      grid-area: sidebar
    }