.container {
    display: grid;
    /* 
    syntaxe : <track-size> <track-size> <...>
    L'espace entre chaque "track-size" représente une "grid-line"
    <track-size> peut être en px, %, fr(action)
    on peut utiliser des fonctions comme repeat ou minmax. 
    repeat permet de simplifier l'écriture. 
    minmax permet de spécifier une taille minimale et maximale. 
    */
    grid-template-columns: 1fr 1fr
  }
  
  .child {
    background-color: #999;
    border: solid;
  }
  /*
  On peut placer les éléments comme on veut avec grid-column-start, grid-column-end, grid-row-start, grid-row-end. 
  Attention : on parle bien de grid-line ici. Donc si on a 2 colonnes, on a 3 lignes, une au début, une au milieu et une à la fin. 

  Disponibles aussi comme raccourcis : 
  * grid-column: <start-line> / <end-line>
  * grid-row: <start-line> / <end-line>
  */
  .child3 {
    background-color: #00FFFF;
    grid-column-start: 2;
    grid-row-start: 3
  }